<a href="https://colab.research.google.com/github/JumanaRahim/TSA/blob/main/Untitled45.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/data_dense_csv/data.csv")

In [2]:
data

,0,1,2,3,4,5,6,7,8,9,...,2040,2041,2042,2043,2044,2045,2046,2047,Unnamed: 2048,label
0,17.373850,-2.757579,-6.104290,9.552615,-27.751274,-1.650237,-2.929186,-7.802720,9.149271,1.956295,...,4.793534,13.006820,3.349913,-44.099022,15.584856,17.068230,0.552790,17.665884,NaN,0.0
1,16.108421,-9.103426,-9.610651,13.077096,-35.502605,-3.122243,-5.368944,-11.624871,6.557513,-3.952138,...,3.840751,11.542812,-1.086371,-52.128803,12.103003,12.607032,-2.665295,13.101030,NaN,0.0
2,15.048866,-10.146769,-10.695648,13.586004,-35.936920,-3.955443,-5.843241,-12.346996,5.749873,-4.323260,...,2.914791,10.586408,-1.530254,-52.516846,11.592472,11.841334,-3.428036,11.548937,NaN,4.0
3,5.696510,-7.844000,-8.029262,8.089712,-18.548103,-1.951151,-3.951817,-7.935065,0.760619,-3.378745,...,0.408120,4.164587,-0.624794,-27.925241,2.683854,3.408080,-3.126990,2.518150,NaN,6.0
4,11.847766,-7.059395,-8.404822,10.418183,-27.315367,-3.000649,-4.444598,-9.784661,4.530059,-2.613401,...,2.190116,8.718383,-0.187451,-40.374508,9.320783,9.905221,-2.189932,9.662286,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,11.369822,-2.619192,-5.872972,7.429569,-19.244093,0.092689,-1.510509,-5.475020,6.034891,0.930948,...,3.106632,9.423487,3.433182,-29.913271,9.625709,11.676929,0.749533,11.836027,NaN,0.0
9997,6.874635,-4.301153,-6.281379,6.684576,-15.063010,0.198275,-1.996331,-5.442986,2.916667,-1.016562,...,1.279625,6.322285,2.357229,-22.688868,5.112828,6.280242,0.101058,6.769814,NaN,0.0
9998,5.822115,-5.242473,-6.695254,6.791263,-15.742146,-1.414940,-2.859362,-6.129818,1.788203,-1.838242,...,0.085195,4.891782,0.707595,-22.953238,4.234889,4.989669,-1.097897,4.915284,NaN,0.0
9999,15.746005,-1.367506,-5.889453,8.214891,-23.616409,-1.785768,-2.782355,-6.606557,8.161585,3.758394,...,3.840897,11.709839,4.314956,-38.130199,14.542569,16.806381,0.879168,16.657778,NaN,0.0
10000,7.050162,-4.729326,-6.600549,6.929718,-15.612225,0.716306,-2.022358,-5.473244,3.933640,-0.868895,...,1.527708,6.779780,3.582426,-24.161062,5.683738,7.494492,0.534993,7.747425,NaN,0.0

In [3]:
data= data.drop(2502)

In [4]:
data

,0,1,2,3,4,5,6,7,8,9,...,2040,2041,2042,2043,2044,2045,2046,2047,Unnamed: 2048,label
0,17.373850,-2.757579,-6.104290,9.552615,-27.751274,-1.650237,-2.929186,-7.802720,9.149271,1.956295,...,4.793534,13.006820,3.349913,-44.099022,15.584856,17.068230,0.552790,17.665884,NaN,0.0
1,16.108421,-9.103426,-9.610651,13.077096,-35.502605,-3.122243,-5.368944,-11.624871,6.557513,-3.952138,...,3.840751,11.542812,-1.086371,-52.128803,12.103003,12.607032,-2.665295,13.101030,NaN,0.0
2,15.048866,-10.146769,-10.695648,13.586004,-35.936920,-3.955443,-5.843241,-12.346996,5.749873,-4.323260,...,2.914791,10.586408,-1.530254,-52.516846,11.592472,11.841334,-3.428036,11.548937,NaN,4.0
3,5.696510,-7.844000,-8.029262,8.089712,-18.548103,-1.951151,-3.951817,-7.935065,0.760619,-3.378745,...,0.408120,4.164587,-0.624794,-27.925241,2.683854,3.408080,-3.126990,2.518150,NaN,6.0
4,11.847766,-7.059395,-8.404822,10.418183,-27.315367,-3.000649,-4.444598,-9.784661,4.530059,-2.613401,...,2.190116,8.718383,-0.187451,-40.374508,9.320783,9.905221,-2.189932,9.662286,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,11.369822,-2.619192,-5.872972,7.429569,-19.244093,0.092689,-1.510509,-5.475020,6.034891,0.930948,...,3.106632,9.423487,3.433182,-29.913271,9.625709,11.676929,0.749533,11.836027,NaN,0.0
9997,6.874635,-4.301153,-6.281379,6.684576,-15.063010,0.198275,-1.996331,-5.442986,2.916667,-1.016562,...,1.279625,6.322285,2.357229,-22.688868,5.112828,6.280242,0.101058,6.769814,NaN,0.0
9998,5.822115,-5.242473,-6.695254,6.791263,-15.742146,-1.414940,-2.859362,-6.129818,1.788203,-1.838242,...,0.085195,4.891782,0.707595,-22.953238,4.234889,4.989669,-1.097897,4.915284,NaN,0.0
9999,15.746005,-1.367506,-5.889453,8.214891,-23.616409,-1.785768,-2.782355,-6.606557,8.161585,3.758394,...,3.840897,11.709839,4.314956,-38.130199,14.542569,16.806381,0.879168,16.657778,NaN,0.0
10000,7.050162,-4.729326,-6.600549,6.929718,-15.612225,0.716306,-2.022358,-5.473244,3.933640,-0.868895,...,1.527708,6.779780,3.582426,-24.161062,5.683738,7.494492,0.534993,7.747425,NaN,0.0

In [5]:
default_value = 0 # the value to replace NaN with
data = data.fillna(default_value)

In [6]:
data

,0,1,2,3,4,5,6,7,8,9,...,2040,2041,2042,2043,2044,2045,2046,2047,Unnamed: 2048,label
0,17.373850,-2.757579,-6.104290,9.552615,-27.751274,-1.650237,-2.929186,-7.802720,9.149271,1.956295,...,4.793534,13.006820,3.349913,-44.099022,15.584856,17.068230,0.552790,17.665884,0.0,0.0
1,16.108421,-9.103426,-9.610651,13.077096,-35.502605,-3.122243,-5.368944,-11.624871,6.557513,-3.952138,...,3.840751,11.542812,-1.086371,-52.128803,12.103003,12.607032,-2.665295,13.101030,0.0,0.0
2,15.048866,-10.146769,-10.695648,13.586004,-35.936920,-3.955443,-5.843241,-12.346996,5.749873,-4.323260,...,2.914791,10.586408,-1.530254,-52.516846,11.592472,11.841334,-3.428036,11.548937,0.0,4.0
3,5.696510,-7.844000,-8.029262,8.089712,-18.548103,-1.951151,-3.951817,-7.935065,0.760619,-3.378745,...,0.408120,4.164587,-0.624794,-27.925241,2.683854,3.408080,-3.126990,2.518150,0.0,6.0
4,11.847766,-7.059395,-8.404822,10.418183,-27.315367,-3.000649,-4.444598,-9.784661,4.530059,-2.613401,...,2.190116,8.718383,-0.187451,-40.374508,9.320783,9.905221,-2.189932,9.662286,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,11.369822,-2.619192,-5.872972,7.429569,-19.244093,0.092689,-1.510509,-5.475020,6.034891,0.930948,...,3.106632,9.423487,3.433182,-29.913271,9.625709,11.676929,0.749533,11.836027,0.0,0.0
9997,6.874635,-4.301153,-6.281379,6.684576,-15.063010,0.198275,-1.996331,-5.442986,2.916667,-1.016562,...,1.279625,6.322285,2.357229,-22.688868,5.112828,6.280242,0.101058,6.769814,0.0,0.0
9998,5.822115,-5.242473,-6.695254,6.791263,-15.742146,-1.414940,-2.859362,-6.129818,1.788203,-1.838242,...,0.085195,4.891782,0.707595,-22.953238,4.234889,4.989669,-1.097897,4.915284,0.0,0.0
9999,15.746005,-1.367506,-5.889453,8.214891,-23.616409,-1.785768,-2.782355,-6.606557,8.161585,3.758394,...,3.840897,11.709839,4.314956,-38.130199,14.542569,16.806381,0.879168,16.657778,0.0,0.0
10000,7.050162,-4.729326,-6.600549,6.929718,-15.612225,0.716306,-2.022358,-5.473244,3.933640,-0.868895,...,1.527708,6.779780,3.582426,-24.161062,5.683738,7.494492,0.534993,7.747425,0.0,0.0

In [7]:
y= data["label"]

In [8]:
# y = y[np.isnan(y)]

In [9]:
print(y)

0        0.0
1        0.0
2        4.0
3        6.0
4        0.0
        ...
9996     0.0
9997     0.0
9998     0.0
9999     0.0
10000    0.0
Name: label, Length: 10000, dtype: float64

In [10]:
import numpy as np

In [11]:
np.unique(y)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13.])

In [12]:
x= data.drop(['Unnamed: 2048', 'label'], axis=1)

In [13]:
x

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,17.373850,-2.757579,-6.104290,9.552615,-27.751274,-1.650237,-2.929186,-7.802720,9.149271,1.956295,...,-25.418882,-26.217693,4.793534,13.006820,3.349913,-44.099022,15.584856,17.068230,0.552790,17.665884
1,16.108421,-9.103426,-9.610651,13.077096,-35.502605,-3.122243,-5.368944,-11.624871,6.557513,-3.952138,...,-34.389168,-28.951387,3.840751,11.542812,-1.086371,-52.128803,12.103003,12.607032,-2.665295,13.101030
2,15.048866,-10.146769,-10.695648,13.586004,-35.936920,-3.955443,-5.843241,-12.346996,5.749873,-4.323260,...,-35.942055,-29.478884,2.914791,10.586408,-1.530254,-52.516846,11.592472,11.841334,-3.428036,11.548937
3,5.696510,-7.844000,-8.029262,8.089712,-18.548103,-1.951151,-3.951817,-7.935065,0.760619,-3.378745,...,-20.783871,-15.935443,0.408120,4.164587,-0.624794,-27.925241,2.683854,3.408080,-3.126990,2.518150
4,11.847766,-7.059395,-8.404822,10.418183,-27.315367,-3.000649,-4.444598,-9.784661,4.530059,-2.613401,...,-26.482336,-22.996229,2.190116,8.718383,-0.187451,-40.374508,9.320783,9.905221,-2.189932,9.662286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,11.369822,-2.619192,-5.872972,7.429569,-19.244093,0.092689,-1.510509,-5.475020,6.034891,0.930948,...,-17.243107,-17.978943,3.106632,9.423487,3.433182,-29.913271,9.625709,11.676929,0.749533,11.836027
9997,6.874635,-4.301153,-6.281379,6.684576,-15.063010,0.198275,-1.996331,-5.442986,2.916667,-1.016562,...,-13.572480,-13.458042,1.279625,6.322285,2.357229,-22.688868,5.112828,6.280242,0.101058,6.769814
9998,5.822115,-5.242473,-6.695254,6.791263,-15.742146,-1.414940,-2.859362,-6.129818,1.788203,-1.838242,...,-15.266952,-13.544564,0.085195,4.891782,0.707595,-22.953238,4.234889,4.989669,-1.097897,4.915284
9999,15.746005,-1.367506,-5.889453,8.214891,-23.616409,-1.785768,-2.782355,-6.606557,8.161585,3.758394,...,-21.082653,-23.500265,3.840897,11.709839,4.314956,-38.130199,14.542569,16.806381,0.879168,16.657778
10000,7.050162,-4.729326,-6.600549,6.929718,-15.612225,0.716306,-2.022358,-5.473244,3.933640,-0.868895,...,-14.491825,-14.767437,1.527708,6.779780,3.582426,-24.161062,5.683738,7.494492,0.534993,7.747425

In [14]:
np.unique(x)

array([-143.765625 , -142.041626 , -137.5723419, ...,  112.9954529,
        116.0625687,  119.1003876])

In [15]:
# from sklearn.ensemble import HistGradientBoostingClassifier
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)
# clf = HistGradientBoostingClassifier().fit(X_train, y_train)
# accuracy = clf.score(X_test, y_test)
# print('Accuracy: {:.2f}%'.format(accuracy * 100))

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
# Split the data into training and testing datasets
# X_, X_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=42)

X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.7, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train an SVM on the training dataset
svm = LinearSVC(loss="squared_hinge", penalty="l1", dual=False, max_iter=10000, random_state=42)

svm.fit(X_train, y_train.values.ravel())

# Test the SVM on the testing dataset and evaluate its performance
accuracy = svm.score(X_test, y_test)
print('Accuracy: {:.2f}%'.format(accuracy * 100))

Accuracy: 60.10%

/usr/local/lib/python3.9/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(